<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448832616506-uk14r2acd4a85l6fgj6t098gus3e8ouf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448832616506-uk14r2acd4a85l6fgj6t098gus3e8ouf</string>
	<key>API_KEY</key>
	<string>AIzaSyCLcAacFNMPQImvJ0Wj3maUONSBwPY6thw</string>
	<key>GCM_SENDER_ID</key>
	<string>448832616506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Ejercicio2</string>
	<key>PROJECT_ID</key>
	<string>beeeeer-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>beeeeer-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448832616506:ios:f3a74104222cf4a8651d03</string>
</dict>
</plist>